body{
	padding: 0%;
	margin: 0%;
	background-image: url(aboutBg.jpg);
	background-size: cover;
	font-family: 'Familjen Grotesk', sans-serif;
}
.navbar{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: whitesmoke;
}
.navbar a{
	text-decoration: none;
	color: rgb(0, 0, 0);
	transition: 0.6s;
}
.navbar a:hover{
	text-decoration: underline;
}
.l_navbar li{
	list-style: none;
	font-size: xx-large;
	font-weight: 900;
	cursor: pointer;
}

.r_navbar li{
	display: inline-flex;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 0%;
	position: relative;
	top: -60px;
	float: right;
	list-style: none;
	font-size: large;
	font-weight: 600;
}

.about{
	display: block;
	position: relative;
	top: 50px;
	width: 100%;
	height: 350px;
	margin-right: 45px;
	background-color: rgba(0, 0, 0,0.7);
	border-radius: 12px;
	box-shadow: 5px 5px 12px black;
	color: whitesmoke;
}
.about h2, p{
	margin: 20px;
	padding-top: 50px;
}
.about p{
	word-spacing: 2px;
}