body{
	padding: 0%;
	margin: 0%;
	background-image: url(mainBg.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: repeat;
	font-family: 'Familjen Grotesk', sans-serif;
}

.navbar{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: whitesmoke;
}
.navbar a{
	text-decoration: none;
	color: rgb(0, 0, 0);
	transition: 0.6s;
}
.navbar a:hover{
	text-decoration: underline;
}
.l_navbar li{
	list-style: none;
	font-size: xx-large;
	font-weight: 900;
	cursor: pointer;
}

.r_navbar li{
	display: inline-flex;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 0%;
	position: relative;
	top: -60px;
	float: right;
	list-style: none;
	font-size: large;
	font-weight: 600;
}
.main{
	display: block;
	align-items: center;
	position: relative;
	text-align: center;
	top: 50px;
	left: 20%;
	width: 700px;
	height: 200px;
	background-color: rgba(0, 0, 0,0.5);
	border-radius: 12px;
	box-shadow: 5px 5px 12px black;
}
.main h2{
	position: relative;
	left: 13%;
	top: 60px;
	width: 80%;
	text-align: center;
	font-size: xx-large;
	font-weight: 900;
	color: white;
}
.main p{
	position: relative;
	left: 13%;
	top: 100px;
	width: 80%;
	text-align: center;
	font-size: large;
	font-weight: 500;
	color: white;
}