body{
	padding: 0%;
	margin: 0%;
	background-image: url(projectsBg.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: repeat;
	font-family: 'Familjen Grotesk', sans-serif;
}
img{
	width: 400px;
	height: 400px;
	border: 11px solid black;
	border-radius: 5px;
	box-shadow: 5px 5px 20px black;
}
.navbar{
	display: flex;
	position: sticky;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: whitesmoke;
}
.navbar a{
	text-decoration: none;
	color: rgb(0, 0, 0);
	transition: 0.6s;
}
.navbar a:hover{
	text-decoration: underline;
}
.l_navbar li{
	list-style: none;
	font-size: xx-large;
	font-weight: 900;
	cursor: pointer;
}

.r_navbar li{
	display: inline-flex;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 0%;
	position: relative;
	top: -60px;
	float: right;
	list-style: none;
	font-size: large;
	font-weight: 600;
}

.projects .project{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 50%;
	height: 550px;
	top: 50%;
	left: 20%;
	margin: 60px;
	background-color: rgba(0, 0, 0,0.7);
	border-radius: 12px;
	box-shadow: 5px 5px 12px black;
	color: whitesmoke;
	border: 15px solid white;
}
.projects p{
	margin: 30px;
	padding: 20px;
	word-spacing: 2px;
}
.projects h2{
	text-decoration: underline;
}
.projects a {
    position: relative; 
    top: -10%; 
    left: 35%; 
    margin: 10px; 
    padding: 10px 20px; 
	width: 100px;
    background-color: rgb(0, 0, 0); 
    color: whitesmoke; 
	border: none;
	border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
	font-weight: 900;
}
.projects a{
	text-decoration: none;
}
.projects a:hover{
	background-color: whitesmoke;
	color: black;
	font-weight: 900;
}